@import "./fonts/fonts.css";

body {
    font-size:14px;
}

#rpi-debug-output {
    position: fixed;
    top:50vh;
    left: 50vw;

    transform:translate(-50%, -50%);

    background-color: #efefef;
    border-radius: 4px;

    display: flex;


}

.debug-box {
    margin: 1em 2em;
}

.label {
    text-transform: uppercase;
    font-size: 0.5em;
}

.running-average {
    font-size: 5em;
}

.instantaneous-value {
    font-size: 2em;
}



